<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('../includes/nav.ejs') %>
  </head>
  <body style="background-color:cornsilk">
  <div class="container" style="margin-top:40px; width:60%">
    <div class="card w-75" style="box-shadow:2px 2px 6px dimgray;">
      <div class="card-body">
        <h4 class="card-title">Recipe Name: <%=  rec.rec_nm  %></h4>
        <h6>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h6>
        <p class="card-text"><form id="add-comment-form" action="/showDescription/<%= rec._id %>/comments" method="POST">
          <div class="form-group">
            <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
          </div>
          <div class="form-group">
            <textarea class="form-control"  name="description" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
          </div>
        </form></p>
              </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script src="/js/main.js"></script>
</body>
</html>