<div class="container">
    <div class="row">
      <div class="card__header">
        One of three columns
      </div>
      <div class="card__content">
        One of three columns
      </div>
      <div class="card__image">
        One of three columns
      </div>
    </div>
  </div>