
    <nav class="navbar navbar-light " style ="background-color: deeppink;">
        <a class="navbar-brand">Search Recipe</a>
        <form class="form-inline" action="/add-recipe" method="POST">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style ="background-color:ivory;">Search</button>
        </form>
      </nav>
