
<b>
    <nav class="navbar navbar-light " style="width:100%; background-color:rgb(222, 241, 241); font-family: Freestyle Script; font-size: 130px ; box-shadow: 5px 5px 8px rgb(127, 156, 218) ">
    
     <h1> <a href="/auth/logout" style="text-align:left; margin-left:10px;color:black">Logout</a></h1>
      <h1> <a href="/new_recipe" style="text-align:left,; margin-left:10px;color:black ">Add Recipe</a></h1>
      <h1> <a href="/show_recipe" style="text-align:left; margin-left:10px;color:black ">Show Recipe</a></h1>

        
      
      </nav>
      
    </b>
